<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/navbar/navbar.css">
    <link rel="stylesheet" href="/assets/css/footer/footer.css">
    <link rel="stylesheet" href="/assets/css/register/register_form.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <title>SIVENART</title>
</head>

<body class="bg-sand">
    <header>
        <%- include('../navbar') %>
    </header>

    <div class="half-image-bg" style="background-image: url('/img/fondo-registro.png');"></div>

    <div class="transparent main-content">

        <div class="d-flex f-space-betwen m-16">
            <div class="d-flex f-column bg-white card-free col-6 min-w-200">
                <h1 class="font-xl color-main-blue mr-10 ">CARRITO</h1>
                <p class="mt-10 color-main-gray">Estos son los productos que ha seleccionado:</p>
                <div class="d-flex f-space-betwen">
                    <p class="mt-10 color-main-gray"></p>
                    <p class="mt-10 color-main-gray">Producto</p>
                    <p class="mt-10 color-main-gray">Subtotal</p>
                </div>
                <% let total=0; %>
                <% if(productos)productos.forEach(producto => { %>
                    <% let subtotal=0; %>
                <div class="d-flex f-space-betwen mt-10">
                    <img src="/img/productos/<%-producto.foto%>" class="col-2 ">
                    <div class="f-wrap col-4">
                        <p class="mt-10 color-main-gray"><%- producto.nombre%></p>
                        <p class="font-md color-main-gray">Cantidad: <b><%- car[producto.codigo].quantity%></b></p>

                        <%if(producto.disponibilidad){%>
                            <p class="font-md color-main-blue">Disponible</p>
                             <%}else{%>
                                <p class="font-md darker-pink">No disponible</p>
                                <%}%>
                    </div>

                    <% subtotal+=parseFloat(car[producto.codigo].quantity) * parseFloat(producto.precio)%>
                    <div class="f-wrap right-y">
                        <p class="mt-10 color-main-gray right-y"><b><%-subtotal%></b></p>
                        <!-- <button class="font-md color-darker-pink bg-light-warning" onclick="">Eliminar</button> -->
                        <button class="font-md color-darker-pink bg-light-warning" id=<%-producto.codigo%>
                            onClick="dlt_product(this.id, <%-producto.stock %>)">Eliminar</button>
                    </div>
                    <%total+=subtotal %>
                </div>
                <% });%>
            </div>

            <div class="d-flex f-column bg-white card-free col-6 min-w-200">
                <h1 class="font-xl color-main-blue mr-10">PAGO</h1>
                <p class="mt-10 color-main-gray">Rellene la información solicitada a continuación para realizar el
                    pago de sus productos</p>

                <form action="/products/paid" method="post">
                    <div class="d-flex f-wrap mt-20">
                        <div class="row">
                            <label class="color-main-gray col-5 mb-15" for="numeroTarjeta">Número de la tarjeta</label>
                            <input id="numeroTarjeta" name="numeroTarjeta" class="bg-sand col-5" type="text"
                                placeholder="1234-5678-8901-2345">
                            <input id="cvv" name="cvv" class="bg-sand col-2" type="text" placeholder="CVV">
                        </div>
    
                        <div class="row">
                            <label class="color-main-gray mb-15 col-5" for="nombreTarjeta">Nombre del
                                dueño</label>
                            <input id="nombreTarjeta" name="nombreTarjeta" class="bg-sand col-7" type="text"
                                placeholder="Nombre del propietario">
                        </div>
    
                        <div class="row">
                            <label class="color-main-gray mb-15 col-5" for="fechaVencimiento">Fecha de
                                vencimiento</label>
                            <select id="mesVencimiento" name="mesVencimiento" class="bg-sand col-5">
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                            <select id="anoVencimiento" name="anoVencimiento" class="bg-sand col-2">
                            </select>
                        </div>
                    </div>
                    <p class="mt-10 color-main-gray">Total: <%-total%></p>
                    <input type="number" hidden name="total" id="total" value="<%-total%>">
                    <div class="mt-10 d-flex right-x">
                        <% if(productos){ %>
                            <button id="btn_register" class="bg-main-blue" type="button">Realizar pago</button>
                        <% }else{;%>
                            <label class="color-main-gray mb-15 col-5" for="nombreTarjeta">No se han encontrado productos en el carrito</label>
                        <% };%>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

    <script src="/assets/js/products/cart.js"></script>
    <script src="/assets/js/local-storage/shopping_cart.js"></script>
</body>

</html>