<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/navbar/navbar.css">
    <link rel="stylesheet" href="/assets/css/footer/footer.css">
    <link rel="stylesheet" href="/assets/css/register/register_form.css">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <title>SIVENART</title>
</head>

<body class="bg-sand">
    <header>
        <%- include('../navbar') %>
    </header>
    <div class="half-image-bg" style="background-image: url('/img/fondo-registro.png');"></div>

    <div class="transparent main-content">
        <section class="w-100 d-flex f-column center-y p-10">
            <div class="mt-10 bg-white card-free d-flex f-column center-x center-y col-8">
                <h1 class="font-xl color-main-blue mr-10">Reporte de ventas</h1>
                <p class="mt-20 color-pink font-w-500 mb-20">Estos son tus 5 productos más vendidos en la página</p>
                <div class="d-flex f-wrap mt-10 mb-20"> 
                    <div class="row mb-20 text-center">
                        <label class="col-6 font-lg font-w-600 color-main-gray">Producto</label>
                        <label class="col-6 font-lg font-w-600 color-main-gray">Cantidad vendida</label>
                    </div>
                    <% mejores.forEach(orden => { %>
                        <div class="row mb-20 text-center">
                            <div class="row">
                                <p class="font-md col-6 color-main-gray"> <%-orden.nombre %> </p>
                                <p class="font-md col-6 color-main-gray"> <%-orden.total_cantidad %> unidades </p>
                            </div>
                        </div>
                        <% }); %>
                         
            </div>
            <div class="mt-20 bg-white d-flex f-column center-x center-y col-8">
                <p class="mt-20 color-pink font-w-500 mb-20">Estos son los productos que generaron más ganancias</p>
                <div class="d-flex f-wrap mt-10 mb-20"> 
                    <div class="row mb-20 text-center">
                        <label class="col-6 font-lg font-w-600 color-main-gray">Producto</label>
                        <label class="col-6 font-lg font-w-600 color-main-gray">Cantidad vendida</label>
                    </div>
                    <% ganancias.forEach(venta => { %>
                        <div class="row mb-20 text-center">
                            <div class="row">
                                <p class="font-md col-6 color-main-gray"> <%-venta.nombre %> </p>
                                <p class="font-md col-6 color-main-gray"> $ <%-venta.ganancias %> MXN</p>
                            </div>
                        </div>
                        <% }); %>
                         
            </div>
            


        </section>
    </div>
</body>

</html>