<h2 class="color-pink mt-20 mb-10">Dirección</h2>
<p class="color-main-gray mb-20">A continuación se encuntra la dirección registrada del usuario en el sistema:</p>
<div class="d-flex f-wrap">
    <div class="row">
        <div class="d-flex f-column col-4">
            <label class="font-w-600 font-md color-main-gray mb-10">Localidad:</label>
            <p class="color-main-gray"><%= user_esp.localidad  %> </p>
        </div>
        <div class="d-flex f-column col-4">
            <label class="font-w-600 font-md color-main-gray mb-10">Entidad:</label>
            <p class="color-main-gray"><%= user_esp.entidad %></p>
        </div>
        <div class="d-flex f-column col-4">
            <label class="font-w-600 font-md color-main-gray mb-10">Colonia:</label>
            <p class="color-main-gray"><%= user_esp.colonia %></p>
        </div>
    </div>
    <div class="row mt-20">
        <div class="d-flex f-column col-4">
            <label class="font-w-600 font-md color-main-gray mb-10">Calle:</label>
            <p class="color-main-gray"><%= user_esp.calle %></p>
        </div>
        <div class="d-flex f-column col-4">
            <label class="font-w-600 font-md color-main-gray mb-10">Número:</label>
            <p class="color-main-gray"><%= user_esp.numero %> </p>
        </div>
        <div class="d-flex f-column col-4">
            <label class="font-w-600 font-md color-main-gray mb-10">Código postal:</label>
            <p class="color-main-gray"><%= user_esp.codigo_postal %> </p>
        </div>
    </div>
</div>