<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/navbar/navbar.css">
    <link rel="stylesheet" href="/assets/css/footer/footer.css">
    <link rel="stylesheet" href="/assets/css/register/register_form.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <title>SIVENART</title>
</head>

<body class="bg-sand">
    <!-- Header: -->
    <header>
        <%- include('../navbar') %>
    </header>
    <div class="half-image-bg" style="background-image: url('/img/fondo-registro.png');"></div>

    <!-- Contenido principal: -->
    <div class="transparent main-content">
        <section class="w-100 d-flex f-column center-y p-10">
            <div class="mt-10 bg-white card-1200 d-flex f-column center-x">
                <div class="row">
                    <img class="circle-img w-100px h-100px mr-10" src="/img/usuarios/<%=avatar %>" onerror="this.src='/img/usuarios/sin-foto.png'">
                    <div class="w-100">
                        <h1 class="font-xl color-main-blue mr-10"><%= person.nombre %> <%= person.primer_apellido %> <%= person.segundo_apellido %></h1>
                        <p class="mt-10 color-main-gray"><%= user.email %></p>
                    </div>
                </div>
            </div>
            
            <div class="m-16 bg-white card-1200 d-flex f-column">
                <!-- Sección de información general -->
                <h2 class="color-pink mb-10">Información general</h2>
                <p class="color-main-gray mb-20">A continuación se ecuentra la información general del usuario registrada dentro del sistema:</p>
                <div class="d-flex f-wrap mb-10">
                    <div class="row-no-space">
                        <div class="d-flex f-column col-4">
                            <label class="font-w-600 font-md color-main-gray mb-10">Teléfono:</label>
                            <p class="color-main-gray"><%= person.telefono %></p>
                        </div>
                        <div class="d-flex f-column col-4">
                            <label class="font-w-600 font-md color-main-gray mb-10">Tipo de cuenta:</label>
                            <p class="color-main-gray"><%= user.rol %> </p>
                        </div>
                        <!-- Campo para artesanos -->
                        <% if(user.rol == 'artesano'){ %>
                            <%- include('./usuario_artesano_part'); %> 
                        <% } %> 
                    </div>
                </div>

                <!-- Sección de la dirección: -->
                <% if(user.rol == 'cliente'){ %>
                        <%- include('./usuario_cliente_part') %>
                <% } %> 

                <!-- Sección de los botones: -->
                <div class="d-flex right-x mt-10">
                    <% if(user.rol == 'artesano'){ %>
                        <button class="mt-20 bg-main-blue" onclick="location.href='/products/register_product'">Registrar Producto</button>
                    <% } %> 
                    <% if(user.rol == 'administrador'){ %> 
                        <button class="mt-20 bg-main-blue" onclick="location.href='/register/register_taller'">Registrar Talleres</button>
                        <button class="ml-10 mt-20 bg-main-blue" onclick="location.href='/register/register_user'">Registrar Usuarios</button>
                    <% } %> 
                    <button class="ml-10 mt-20 bg-pink" onclick="location.href='/login'">Cerrar sesión</button>
                </div>

                <!-- Sección para artesanos: -->
                <% if(user.rol == 'artesano'){ %>
                    <%- include('./artesano_productos_part');  %> 
                <% } %> 

                <!-- Sección para administradores: -->
                <% if(user.rol == 'administrador'){ %>
                    <%- include('./administrador_usuarios_part');  %> 
                <% } %> 
            </div>
        </section>
    </div>
</body>
</html>